{{ include('partials.header.twig') }}

<body>
    <div class="general-container">

    <div class="container">
    
    <div class="logo text-center">
        <img height="30px" src="https://d1lppblt9t2x15.cloudfront.net/logos/bf0d271a7f2045bda323b1d1a2e730e2.png" alt="Budget Control">
    </div>

    {% block body %}
        <!-- Your content goes here -->
    {% endblock %}

        <div>
            <p>Thank you for choosing Budget Control!</p>
            <p>The Budget Control team</p>
        </div>

    </div>
</div>

{{ include('partials.footer.twig') }}