
<footer>
    <div>
    <p>This email was sent to {{user_email}}. Please don't reply to this email directly.</p>
<p>For further assistance, please visit our help desk. You got this message because you signed up to receive BudgetControl emails. If you don't want to receive marketing from BudgetControl in the future, you can unsubscribe.</p>

<p class="small-text credits">
    Copyright {{copyright_date}} BudgetControl | Released under the AGPL License | © <span id="displayYear">{{copyright_date}}</span> Thanks to
    <a href="https://html.design/">Free Html Templates</a> &amp; <a href="https://www.mlabfactory.it">M-LabFactory</a> | <a href="/terms">Terms &amp; Conditions</a> | <a href="/privacy">Privacy Policy</a>
</p>

</div>
</footer>

</body>
</html>