{% extends "base.twig" %}

{% block content %}

    <div class="row">

        <p>Check out [{{workspace_name}}], a workspace that {{user_from}} has shared with you. You can find it in your workspace settings and on the sidebar.</p>
      
    </div>

{% endblock %}