{% extends "../base.twig" %}

{% block content %}

    <div class="row">

        <p>We received a request to reset your password for your Budget Control account. To set a new password and regain access to your account, please follow the steps below:</p>
        <p>Click on the following <a href="{{link}}">link</a> to reset your password:</p>
        <br/>
        <a href="{{link}}" target="_blank"
                class="recovery-password button">
                Reset tour password
            </a>
    </div>

{% endblock %}